div{
    width: 100px;
    height: 100px;
    background: orange;
}
p{
    background: lime;
    color: blue;
    cursor: pointer;
    font-size: 16px;
}
span{
    display: inline-block;
    width: 10px;
    height: 10px;
    color: blue;
}